* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: 300;
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-size: 100%;
    line-height: normal;
}

body {
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    width: fit-content;
    color: #fff;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
}

#root,
#__next {
    isolation: isolate;
}